.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

footer{
    background-color: #d8c3a5;
    text-align: center; 
    padding: 40px; 
    
}



 